<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background:rgb(240,240,240)!important;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/assets/images/logo.png" alt="Logo" width="36" height="30">  
        Procake</a>
      

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end fw-bold" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/home" >Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/productos">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/carrito">Ver carrito</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/acerca-de">Acerca de</a>
          </li> -->
          <li class="nav-item" *ngIf="!(authService.userState) as user">
            <a class="nav-link" href="#" routerLink="/login">Login</a>
          </li>

          <li class="nav-item dropdown" *ngIf="authService.userState as user">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="rounded-pill" src="{{(user.photoURL) ? user.photoURL : '/assets/images/dummy.png'}}" alt="{{user.displayName}}" width="28" height="28">
              {{(user.displayName) ? user.displayName : user.email}}
            </a>
          
            <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuLink">
              <li><h6 class="dropdown-header">Administrador</h6></li>
              <li><a class="dropdown-item" id="logout" href="#" routerLink="/agregarProductos">Productos</a></li>
              <li><a class="dropdown-item" id="logout" href="#" routerLink="/agregarCategorias">Categorías</a></li>              
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" id="logout" href="#" (click)="authService.logout()">Cerrar sesión</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- <div class="row" *ngIf="authService.userState as user">
    <div class="media">
      <img class="align-self-start"
        src="{{(user.photoURL) ? user.photoURL : '/assets/images/dummy.png'}}" alt="{{user.displayName}}">
      <div class="media-body">
        <h2>Hola: <strong>{{(user.displayName) ? user.displayName : 'Usuario'}}</strong></h2>
        <p>User ID: <strong>{{user.uid}}</strong></p>
        <p>Email: <strong>{{user.email}}</strong></p>
      </div>
    </div>
  </div> -->