
<div class="container mt-5">
    <div class="card mb-3 mx-auto border-0" style="max-width: 700px;">
        <div class="row g-0 d-flex align-items-center">
          <div class="col-md-4">
            <img src="https://file.adomicil.io/esperanza.tr3sco.net/_files/images/product/imagen-8-0683851078005438.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title">Nombres</h4>
              <p class="card-text mb-2">Descripción</p>
              <h5>$6000</h5>
              <p class="card-text mb-0"><strong>Tamaño:</strong> Grande</p>
              <p class="card-text mb-2"><strong>Categoría:</strong> Pastel</p>
              <div class="row">
                  <div class="col-8">
                    <p style="font-weight:bold;">Fecha de entrega</p>
                    <input type="datetime-local"  class="form-control" name="fec_entrega" id="fec_entrega"> 
                  </div>
                 <div class="col-4">
                    <p style="font-weight:bold;">Cantidad</p>
                    <input type="number" min="1" class="form-control" value="1" name="cantidad" id="cantidad">  
                  </div>
              </div>
              <button class="btn col-12 mt-3" type="submit" id="pedido">Agregar al carrito de compras</button>
            </div>
          </div>
        </div>
      </div>
</div>    