
<div class="container mt-5">
    <div class="card mb-3 mx-auto border-0" style="max-width: 700px;">
        <div class="row g-0 d-flex align-items-center">
          <div class="col-md-4">
            <img src="{{this.productoService.producto.url_img}}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <form class="card-body" #carr="ngForm">
              <h4 class="card-title">{{this.productoService.producto.nombre}}</h4>
              <p class="card-text mb-2 lead">{{this.productoService.producto.descripcion}}</p>
              <h5>${{this.productoService.producto.precio}}</h5>
              <p class="card-text mb-0"><strong>Tamaño:</strong> {{tamanos[this.productoService.producto.tamano]["nombre"]}}</p>
              <p class="card-text mb-2"><strong>Categoría:</strong> {{getTipo(this.productoService.producto.tipo)}}</p>
              <div class="row">
                  <div class="col-8">
                    <p style="font-weight:bold;">Fecha de entrega</p>
                    <input type="datetime-local"  class="form-control" [(ngModel)] = "carrito.fec_solicitud" required name="fec_solicitud" #fec_solicitud="ngModel"> 
                  </div>
                 <div class="col-4">
                    <p style="font-weight:bold;">Cantidad</p>
                    <input type="number" min="1" class="form-control" value="1"  [(ngModel)] = "carrito.cantidad" required name="cantidad" #cantidad="ngModel">  
                  </div>
              </div>
              <button class="btn col-12 mt-3" type="button" [disabled]="!carr.form.valid" id="pedido" (click)="agregarCarrito(this.productoService.producto.id,carrito)">Agregar al carrito de compras</button>
            </form>
          </div>
        </div>
      </div>
</div>    