<div class="container">
      
    <div class="row">
        <div class="ms-2 card text-white p-0 mt-2 col-sm-12 col-md-6 col-lg-6 col-xl-3">
            <div class="card-header text-center h5" style="background:salmon;">AGREGAR CATEGORÍA</div>
                <div class="card-body  bg-light text-dark">
                    <form #cats="ngForm">
                        <label for="nombre" class="form-label">Nombre:</label>
                        <input type="text" id="nombre" class="form-control" [(ngModel)] = "categoria.nombre" required name="nombre" #nombre="ngModel">
                        <button id="agregar" type="button" class="col-12 mx-auto mt-2 btn fw-bold" [disabled]="!cats.form.valid" (click)="agregarCategoria()">Agregar</button>
                   
                    </form>
                </div>

            </div>




    <div class="col">
        <table class="table table-hover table-bordered mt-2">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Categoría</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let categoria of categorias" >
                    <td (click)="selectCategoria(categoria)" style="cursor:pointer;">{{categoria.id}}</td>
                    <td (click)="selectCategoria(categoria)" style="cursor:pointer;">{{categoria.nombre}}</td>
                    <td>
                        <button id="agregar" class="me-2 mx-auto btn fw-bold" [disabled]="!cats.form.valid" (click)="actualizarCategoria()">Modificar</button>     
                        <button class="btn btn-danger fw-bold" (click)="eliminarCategoria(categoria.id)">Eliminar</button>                      
                    </td>
                </tr>
            </tbody>
        </table>
    </div>