<div class="container">
    
    
    <div class="card mt-2 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="card-header text-white text-center h5 cursor-pointer" style="background:salmon;" data-bs-toggle="collapse" data-bs-target="#formCategorias">AGREGAR CATEGORÍA</div>
        <div class="card-body collapse" id="formCategorias">
            <form #cats="ngForm">
                <div class="row">
                    <div class="col-12">
                        <label for="nombre" class="form-label">Nombre:</label>
                        <input type="text" id="nombre" class="form-control" [(ngModel)] = "categoria.nombre" required name="nombre" #nombre="ngModel">
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col-12 col-sm-6">
                        <button type="button" id="agregar" class="btn fw-bold w-100" [disabled]="!cats.form.valid" (click)="agregarCategoria()">Insertar</button>
                    </div>
                    <div class="col-12 col-sm-6">
                        <button type="button" id="modificar" class="w-100 btn fw-bold" [disabled]="!cats.form.valid" (click)="actualizarCategoria()">Actualizar</button>     
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <div class="table-responsive">
        <table class="table table-hover table-bordered mt-2">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Categoría</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let categoria of categorias" >
                    <td (click)="selectCategoria(categoria)" style="cursor:pointer;">{{categoria.id}}</td>
                    <td (click)="selectCategoria(categoria)" style="cursor:pointer;">{{categoria.nombre}}</td>
                    <td>
                        <a class="link-primary text-decoration-none cursor-pointer" (click)="eliminarCategoria(categoria.id)">Eliminar</a>                      
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>