<section class="text-center container">
    <i style="font-size:150px;color:#000000" class="bi bi-check2-circle"></i>
    <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h2>¡Gracias por su pedido!</h2>
        <p class="text-center lead">Tu pedido fue confirmado y nuestro equipo estará trabajando para realizarlo.</p>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto">
        <div class="justify-content-center">
        <div class="d-grid gap-2">
        <button class="btn col-12 mt-3" routerLink="/home" id="home">Volver a la página principal</button>
        </div>
      </div>
    </div>
    </div>

  </section>