<h2 class="text-center mt-2">Acerca de</h2>

<br/>
<p class="text-center display-4 mb-2" style="font-size: 24px;">Desarrollador por:</p>
<p class="text-center mb-0" style="font-size: 24px;"><mark style="background:rgba(0,0,0,.2)">Limón Pérez Alan</mark></p>
<p class="text-center mt-0" style="font-size: 24px;margin-top:6px!important;"><mark style="background:rgba(0,0,0,.2)">Raymundo García José Abraham</mark></p>

<p class="text-center" style="font-size: 24px;"><strong>Grupo:</strong> DS01SV-21</p>
<p class="text-center" style="font-size: 24px;"><strong>Carrera:</strong> Desarrollo y Gestión de Software</p>

<p class="text-center w-50 mx-auto" style="font-size: 24px;">Aplicación web desarrollada para la acreditación del tercer parcial en la asignatura de Desarrollo Web Profesional</p>